<div class="vuelos-dashboard">
  <!-- Tabla de vuelos -->
  <div class="vuelos-table">
    <h3>Lista de vuelos</h3>
    <div *ngIf="vuelos.length === 0" class="placeholder">
      No hay vuelos registrados
    </div>
    <table *ngIf="vuelos.length > 0">
      <tr>
        <th>Origen</th>
        <th>Destino</th>
        <th>Precio</th>
        <th>Periodo</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let v of vuelos">
        <td>{{v.origen}}</td>
        <td>{{v.destino}}</td>
        <td>{{v.precio}}</td>
        <td>{{v.periodo}}</td>
        <td><button (click)="eliminarVuelo(v.vueloId!)">Eliminar</button></td>
      </tr>
    </table>
  </div>

  <!-- Formulario -->
  <div class="vuelos-form">
    <h3>Agregar nuevo vuelo</h3>
    <form (ngSubmit)="agregarVuelo()">
      <label>Origen</label>
      <input type="text" placeholder="Ej: San José" [(ngModel)]="nuevoVuelo.origen" name="origen" required />

      <label>Destino</label>
      <input type="text" placeholder="Ej: Liberia" [(ngModel)]="nuevoVuelo.destino" name="destino" required />

      <label>Precio</label>
      <input type="number" placeholder="Ej: 50" [(ngModel)]="nuevoVuelo.precio" name="precio" required />

      <label>Periodo</label>
      <input type="text" placeholder="Ej: 01/06/2026 - 30/06/2026" [(ngModel)]="nuevoVuelo.periodo" name="periodo" />

      <button type="submit">Agregar vuelo</button>
    </form>
  </div>
</div>